
.form{
    margin:0 auto;
    max-width:1200px;
    background-color: white;
    
}

.formContainer{
    padding:50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.headContainer{
    display: flex;
    justify-content: center;
    font-size: 22px;
} 
.nameValuta{
    max-width: 200px;
    text-align: center;
}
.nameUa{
    max-width: 200px;
    text-align: center;
    padding-left: 150px;

}