.maincontainer{
    background-color: white;
}
.container {
    display: flex;
    margin:0 auto;
   max-width: 1200px;
    justify-content: left;
}
.foto{
    
    max-width: 200px;
    
}
img {
    max-width: 100%;
  }

.text{
    display: flex;
    align-items: center;
    margin-left: 50px;
   
}
h1{
    font-weight: 500;
    font-size:  calc(18px + (36 - 18) * ((100vw - 320px) / (1200 - 320)));
}